@import "tailwindcss";

@theme {
  --color-cream: #F5F0E8;
  --color-beige: #D4C4A8;
  --color-brown: #8B7355;
  --color-dark: #4A3A2A;
  --color-gold: #C4956A;
}

body {
  background: #F5F0E8;
}

/* swiper arrow css */
/* .baida-swiper .swiper-button-next,
.baida-swiper .swiper-button-prev {
  color: #4A3A2A !important;
  background: #F5F0E8 !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 999px !important;
  border: 1px solid #D4C4A8 !important;
}

.baida-swiper .swiper-button-next::after,
.baida-swiper .swiper-button-prev::after {
  font-size: 16px !important;
  font-weight: 700 !important;
} */